<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <template id="tpl__station">
        <div class="StationDetailContainer">
            <div class="Station-container-temperature">
                <div class="Station-temperature-bg"></div>
                <h2 class="Station-title">E.E.S.T.N°3</h2>
                <h2 class="Station-temperature">19°C</h2>
            </div>
            <div class="Station-container-detail">
                <div class="Station-detail">
                    <p>temp</p>
                    <p class="Station-detal-temp"></p>
                    <div class="Station-icon-climate"></div>
                </div>
                <div class="Station-detail">
                    <p>hum</p>
                    <p class="Station-detal-hum"></p>
                    <div class="Station-icon-hum"></div>
                </div>
                <div class="Station-detail">
                    <p>vien</p>
                    <p class="Station-detal-vien"></p>
                    <div class="Station-icon-wind"></div>
                </div>
                <div class="Station-detail">
                    <p></p>
                </div>
            </div>
        </div>
    </template>
    <div id="Root">
       
    </div>
    <script src="../js/StaionDetail.js" type="text/javascript"></script>    
</body>
</html>